<h1>Registarion User</h1>
<%= simple_form_for @user, url: {:action => "create"}, html: {:id => "new_user"} do |u| %>
  	<%= u.input :email, label: "Email" %>
	<%= u.input :name, label: "Name" %>
	<%= u.input :password, label:"Password" %>
	<%= u.button :submit %>
<% end %>

<script type="text/javascript">
$(document).ready(function () {
  $("#new_user").validate({
    rules: {
      "user[email]": {required: true}
      "user[name]": {required: true},
      "user[password]": {required: false, minlength: 8, maxlength: 20},      
    }});
  });
</script>