<h1>Video#EDIT</h1>
<%= form_for @video, url: video_path do |f| %>
  <div class="form-group">
    Name <br/> <%= f.text_field :name, placeholder: "Name", class: "form-control" %><br/>    
  </div>
  <div class="form-group">
    Description <br/> <%= f.text_area :description, placeholder: "Description", class: "form-control" %><br/> 
  </div>
  <div class="form-group">
    Picture <br/> <%= f.text_field :url_img, placeholder: "url_image", class: "form-control" %><br/> 
  </div>
  <div class="form-group">
    Video <br/> <%= f.text_field :url_video, placeholder: "url_video", class: "form-control" %><br/> 
  </div>
  <div class="form-group">
    Release date<br/> <%= f.text_field :release_date, placeholder: "release_date", class: "form-control" %><br/> 
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
<% end %>