<div class="col-md-12">
Sort:
  <div class="btn-group">
      <button class="btn btn-default dropdown-toggle" name="order_by" data-toggle="dropdown">Name<span class="caret"></span></button>
      <ul class="dropdown-menu">
          <li><%= link_to 'Name', root_path %></li>
          <li><%= link_to 'Rating', root_path %></li>
          <li><%= link_to 'Release Date', root_path %></li>          
      </ul>
  </div>
</div>


<% @videos.each do |video| %>
	<div class="span4">
		<%= link_to video.name, video_path(video) %><br/>
		<%= image_tag(video.url_img, height: '271', width: '180', alt: '', class: "img-rounded") %><br/><br/>
	</div>
<% end %>