Sort:
<div class="btn-group">     
  <%= link_to 'Name', "#{root_path}?sort=name", class: "btn btn-default"  %> 
  <%= link_to 'Rating', "#{root_path}?sort=rating", class: "btn btn-default"  %>
  <%= link_to 'Release Date', "#{root_path}?sort=release_date", class: "btn btn-default"  %> 
</div>


<% @videos.each do |video| %>
	<div class="span4">
		<%= link_to video.name, video_path(video) %><br/>
		<%= image_tag(video.url_img, height: '271', width: '180', alt: '', class: "img-rounded") %><br/><br/>
	</div>
<% end %>