<div class="col-xs-6 col-md-4">
	<%= image_tag(@film.url_img,  height: '542', width: '360', alt: '') %><br/>
	Rating<%= @film.rating %><br/>
	<%= link_to 'All Films', root_path %>
</div>

<div class="col-xs-12 col-md-8">
	<%= @film.name %><br/>
	<%= @film.release_date %><br/>
	<%= @film.description %><br/>
	
  <iframe width="560" height="315" src="<%= @film.url_video %>" frameborder="0" allowfullscreen></iframe>

	<p>Comments</p>
	<% @film.comments.each do |comment| %>
	<%= comment.text %>
	<%= comment.created_at %>
	<%= comment.user.email %><br/>
	<% end %>

	<%= form_for @comment, :url => comment_index_path do |f| %>
	<%= f.text_area :text, class: "form-control", placeholder: 'Comment' %><br/>
	<%= f.hidden_field :video_id, value: @film.id %>
	<%= f.button :submit %>
	<% end %>
</div>

