<div class="col-xs-6 col-md-4">
	<%= image_tag(@film.url_img,  height: '542', width: '360', alt: '') %><br/>

	<%= form_for @film, :url => like_video_path(@film), :method => :post do |f|%>
	<%= image_submit_tag('http://www.schneiderpr.com/blog/wp-content/uploads/2012/04/like-button.png', height: '20', width: '50', :alt => 'Like') %>
	<% end %>
	Rating <%= @film.rating %><br/>

	<%= link_to 'All Films', root_path %>
	<% if current_user.email == "admin@asd.com" %>
		<%= link_to 'Delete', video_path, :method => :delete %>
		<%= link_to 'Edit', edit_video_path %>
	<% end %>

	<%= form_for @video_join, :url => favorite_video_path do |f| %>	
	<% if @video_join.favorite == true %>
		<%= f.hidden_field :video_id, value: @film.id %>
		<%= f.hidden_field :user_id, value: current_user.id %>
		<%= image_submit_tag('http://b.dryicons.com/images/icon_sets/colorful_stickers_part_2_icons_set/png/256x256/favorite.png', height: '20', width: '50', :alt => 'Like') %>
	<% else %>
		<%= f.hidden_field :video_id, value: @film.id %>
		<%= f.hidden_field :user_id, value: current_user.id %>
		<%= image_submit_tag('http://icongal.com/gallery/image/99866/bookmark_favorite_star_badge.png', height: '20', width: '50', :alt => 'Like') %>
	<% end %>
	<% end %>
</div>

<div class="col-xs-12 col-md-8">
	Name: <%= @film.name %><br/>
	Genre: <% @video_genre.each do |genre| %>
		<%= genre.genre %><% end %><br/>
	Release: <%= @film.release_date %><br/>
	<%= @film.description %><br/>
	
  <iframe width="560" height="315" src="<%= @film.url_video %>" frameborder="0" allowfullscreen></iframe>

	<p>Comments</p>
	<% @film.comments.each do |comment| %>
	<%= comment.text %>
	<%= comment.created_at %>
	<%= comment.user.email %><br/>
	<% end %>

	<%= form_for @comment, :url => comment_index_path do |f| %>
	<%= f.text_area :text, class: "form-control", placeholder: 'Comment' %><br/>
	<%= f.hidden_field :video_id, value: @film.id %>
	<%= f.button :submit %>
	<% end %>
</div>

