Sort:
<div class="btn-group">     
  <%= link_to 'Name', sort_video_path(:name), class: "btn btn-default"  %> 
  <%= link_to 'Rating', sort_video_path(:rating), class: "btn btn-default"  %>
  <%= link_to 'Release Date', sort_video_path(:release_date), class: "btn btn-default"  %> 
</div>



<% @videos.each do |video| %>
	<div class="col-md-1">
		<%= link_to video.name, video_path(video) %><br/>
		<%= image_tag(video.url_img, height: '271', width: '180', alt: '', class: "img-rounded") %><br/><br/>
	</div>
<% end %>