<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('Hello',user: @user.email %></h1>
    <p>
      <%= t :added %>
      <br />
    </p>
    <p>
      <%= t :follow_the_link %> <%= @url %>.
    </p>
    <p><%= t :thnx %></p>
  </body>
</html>