<!DOCTYPE html>
<html>
<head>
  <title>Filmcat</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.validate.min.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% flash.each do |key, value| %>
	<p><%= value %></p>
<% end %>
<%= yield %>

</body>
</html>
