<div class="container" style="margin-left: 100px; color:#eeeeee">
  <div class="row">
    <div class=" col-lg-4 ">
    	<% if current_user and current_user.admin? %> 
  		<%= form_for @video, html: {:multipart => true}, url: videos_path do |f| %>
      <div class="form-group">
	      <%= t 'Name' %> <br/> <%= f.text_field :name, placeholder: "Name", class: "form-control" %><br/>    
	    </div>
	    <div class="form-group">
	      <%= t 'Description' %> <br/> <%= f.text_area :description, placeholder: "Description", class: "form-control" %><br/> 
	    </div>
	    <div class="form-group">
	      <%= t 'Picture' %> <br/> <%= f.text_field :url_img, placeholder: "url_image", class: "form-control" %><br/>
	      <%= f.file_field :image %> 
	    </div>
	    <div class="form-group">
	      <%= t 'Video' %> <br/> <%= f.text_field :url_video, placeholder: "url_video", class: "form-control" %><br/> 
	    </div>
	    <div class="form-group">
	      <%= t 'Release date' %><br/> <%= f.text_field :release_date, placeholder: "release_date", class: "form-control" %><br/> 
	    </div>
	    <div class="form-group">
	      <%= t 'Genre' %><br/> <%= f.collection_select :genre_ids, Genre.all, :id, :genre, {}, {:multiple => true} %>
	    </div>
	    <button type="submit" class="btn btn-default">Submit</button>
      <% end %>
			<% end %>
    </div> <!-- /col-lg-4 -->
  </div> <!-- /row -->
</div><!-- /container -->