<%= render "genres/genre" %>
<div id="page-content-wrapper" style="padding-left: 250px;"> 
	<div class="content-header">
		<div class="btn-group">     
  		<% if params[:sort] == 'name_asc' %>     
  			<%= link_to 'Name↓', "#{genre_path}?sort=name_desc", class: "btn btn-primary"  %>
  		<% elsif params[:sort] == 'name_desc' %>     
  			<%= link_to 'Name↑', "#{genre_path}", class: "btn btn-primary"  %>
  		<% else %>
  			<%= link_to 'Name', "#{genre_path}?sort=name_asc", class: "btn btn-default"  %>
  		<% end %>
  		<% if params[:sort] == 'rating_asc' %>     
  			<%= link_to 'Rating↓', "#{genre_path}?sort=rating_desc", class: "btn btn-primary"  %>
  		<% elsif params[:sort] == 'rating_desc' %>     
	  		<%= link_to 'Rating↑', "#{genre_path}", class: "btn btn-primary"  %>
	  	<% else %>
	  		<%= link_to 'Rating', "#{genre_path}?sort=rating_asc", class: "btn btn-default"  %>
	  	<% end %>
	  	<% if params[:sort] == 'release_date_asc' %>     
	  		<%= link_to 'Release Date↓', "#{genre_path}?sort=release_date_desc", class: "btn btn-primary"  %>
	  	<% elsif params[:sort] == 'release_date_desc' %>     
	  		<%= link_to 'Release Date↑', "#{genre_path}", class: "btn btn-primary"  %>
	  	<% else %>
	  		<%= link_to 'Release Date', "#{genre_path}?sort=release_date_asc", class: "btn btn-default"  %>
	  	<% end %>
		</div>
	</div> <!-- /content-header -->
	<div class="page-content inset">
		<div class="row">
			<% @videos.each do |video| %>
			<div class="col-md-3">
				<%= render video %>
			</div>
			<% end %>
		</div> <!-- /row -->
	</div> <!-- /page-content inset -->	
</div>  <!-- /page-content-wrapper -->
